// Colors
$black-font: #131b21;
$white-light: #FCFCFC;
$green-primary-30: rgba(12, 182, 115, 0.30);
$green-primary-50: rgba(12, 182, 115, 0.50);
$green-secondary: #05AC6A;
$green-add: #059b5f;
$color-background: #C5C6C5;

$before-width: 0;