.page {
    background-color: #E3E3E3;
}

.container {
    width: 1728px;
    height: 1080px;
    margin: 0 auto;
    background-image: url('../../assets/img/bg.png');
    background-size: 1728px 1080px;
    background-repeat: no-repeat;
    padding-top: 407px;
    padding-left: 334px;
}
